body {
    background-color: #d1f5ee;
    font-family: 'Quicksand', sans-serif;
    max-width: 550px;
    margin: 0 auto;
    padding: 10px;
}

p,
h1 {
    color: #3e4a3d;
    text-align: center;
    /* margin: 15px; */
}

h1{
    font-family: 'Pacifico',cursive;
    font-size:x-large;

}

.note-card {
    background-color: #f6edd9;
    color: #003500;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
    box-shadow: 0 4px 8px #a1afa0 ;
}

.note-card:hover {
    background-color: #effded;
    cursor: pointer;
    transform: translateY(-5px);
}
.note-card p{
    margin: 2px;
}

.date{
    color: #a1afa0;
    font-style: italic;
    font-size: 10px;

}
button,input {
    background: #dcf2ff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px #9abdb6   ;

}

button:hover {
    background: #d3a350;
}

img{
    max-width: 2%;
}